<ion-view view-title="CircleCreate" style="top:44px;">
	<ion-content>
        <div class="list">
        <!-- Required circle details -->
            <div class="item item-divider">Circle Details</div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="placeholder" ng-model="circle.name">
            </label>

        <div class="padding">
            <button class="button button-royal button-block" ng-click="create()">Create</button>
        </div>
	</ion-content>
</ion-view>
