<ion-view name="Circles">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="query()"></ion-refresher>

        <!-- Hosting -->
		<div class="item item-divider">Circles</div>
		<ion-list>
			<ion-item class="event-item" ng-repeat="circle in circles">
				<div class="row">
					<div class="col col-75">
						<h3>{{circle.name}}</h3>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
<!-- Circle button -->
<div class="circle-plus-button"></div>
