<ion-view view-title="EventCreate" style="top:44px;">
	<ion-content>
        <div class="list">
        <!-- Required event details -->
            <div class="item item-divider">Event Details</div>
        
            <label class="item item-input item-stacked-label">
                <span class="input-label">Event Title</span>
                <input type="text" placeholder="placeholder" ng-model="event.title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Event Description</span>
                <input type="text" placeholder="lorem ipsum" ng-model="event.description">
            </label>

                <!-- Additional information -->
            <div class="item item-divider">Additional Information</div>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input type="datetime-local" name="event-time" ng-model="event.date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Location</span>
                <input type="text" placeholder="Auckland" ng-model="event.location">
            </label>
        </div>
        <div class="padding">
            <button class="button button-royal button-block" ng-click="create()">Create</button>
        </div>
	</ion-content>
</ion-view>