<ion-view view-title="Import" cache-view="false" style="top:44px;">
  <ion-content class="padding" id="scroll">
     <ion-list>
      <ion-checkbox ng-repeat="contact in contacts" ng-click="toggle(contact)" >
        <div class="row">
          <div class="col col-75">
            <h2>{{contact.name}}</h2>
            <p>{{contact.phoneNumber}}</p>
          </div>
        </div>
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
<!-- align to the bottom of the page -->
  <div class="padding" style="position: fixed; bottom: 0px; width: 100%; z-index: 100 !important;">
    <button class="button button-block button-calm" ng-click="addFriends()">Add Friends</button>
  </div>
