<ion-view name="Event">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="query()"></ion-refresher>
		<div class="item item-divider">Hosting</div>
		<ion-list>
			<ion-item class="event-item" ng-repeat="event in events | orderBy:'event.date'">
				<div class="row">
					<div class="col col-75">
						<h3>{{event.title}}</h3>
						<p>{{event.description}}</h3>
						<p>{{event.date | date: 'EEE, MMM d, yyyy h:mm:ss a'}}</p>
					</div>
					<div class="col col-25">
						
					</div>
				</div>
			</ion-item>
		</ion-list>
		<div class="item item-divider">Attending</div>
		
		<!-- Circle button -->
		<div class="circle-plus-button"></div>
	</ion-content>
</ion-view>