<html ng-app="starter.controllers">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Ionic Template</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<body ng-controller="MyCtrl">

  <ion-header-bar class="bar-positive">
    <h1 class="title">{{myTitle}}</h1>
  </ion-header-bar>

  <ion-content class="padding">


  </ion-content>

  <script id="templates/loading.html" type="text/ng-template">
    <ion-spinner class="light"></ion-spinner>
    <br />
    <span>Loading</span>
  </script>

</body>

</html>
