<ion-content class ="start-screen padding" scroll="false">
    <div class="start-screen-icon">
        <img src="img/ionic.png" alt="placeholder">
    </div>

    <div class="start-screen-login">
        <label class="item item-input">
            <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
             <input type="password" placeholder="Password">
        </label>
        <button class="button button-block login-button">LOG IN</button>
    </div>

    <div class="start-screen-text">
        <p ng-click="startRegistration()">Don't have an account ? Register now</p>
    </div>

    <div class="start-screen-text">
        <p>Forgot login details</p>
    </div>
</ion-content>
