<ion-view view-title="Event">
  <ion-content>
    <div class="list">
		<!-- Required event details -->
		<div class="item item-divider">Event Details</div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Event Title</span>
			<input type="text" placeholder="placeholder">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Event Description</span>
			<input type="text" placeholder="lorem ipsum">
		</label>
		
		<!-- Additional information -->
		<div class="item item-divider">Additional Information</div>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Date</span>
			<input type="datetime-local" name="event-time">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Location</span>
			<input type="text" placeholder="Auckland">
		</label>
	</div>
  </ion-content>
</ion-view>