<div class="time-view-container">
    <div class="time-info-tab time-tab">
        <div class="title"></div>
        <div class="hour am">12</div>
        <div class="hour am">1</div>
        <div class="hour am">2</div>
        <div class="hour am">3</div>
        <div class="hour am">4</div>
        <div class="hour am">5</div>
        <div class="hour am">6</div>
        <div class="hour am">7</div>
        <div class="hour am">8</div>
        <div class="hour am">9</div>
        <div class="hour am">10</div>
        <div class="hour am">11</div>
        <div class="hour pm">12</div>
        <div class="hour pm">1</div>
        <div class="hour pm">2</div>
        <div class="hour pm">3</div>
        <div class="hour pm">4</div>
        <div class="hour pm">5</div>
        <div class="hour pm">6</div>
        <div class="hour pm">7</div>
        <div class="hour pm">8</div>
        <div class="hour pm">9</div>
        <div class="hour pm">10</div>
        <div class="hour pm">11</div>
    </div>
    <div ng-repeat="date in dates" class="time-tab time-date">
        <div class="title">{{date.format("ddd DD")}}</div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour am"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
        <div class="hour pm"></div>
    </div>
</div>