.hidden {
  display: none !important;
  visibility: hidden !important; }

#circle-nav {
  position: fixed; }
  #circle-nav .title {
    text-align: left; }

.circle-plus-button {
  position: fixed;
  right: 7%;
  top: 82%;
  z-index: 100 !important; }
  .circle-plus-button button {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    color: white !important;
    background-color: #886aea; }
  .circle-plus-button button:active {
    background-color: #7a5fd2; }

.plus-popover {
  height: auto !important;
  margin-top: 0% !important; }
  .plus-popover ion-header-bar {
    position: relative; }
  .plus-popover ion-content {
    position: relative;
    top: 0; }
  .plus-popover ion-item {
    margin: 0; }

circle-calendar {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 75%;
  border-bottom: 1px solid #886aea;
  margin-bottom: 10px; }
  circle-calendar div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #886aea;
    color: white; }
    circle-calendar div.header i {
      float: left;
      font-size: 1.125em;
      font-weight: bold;
      position: relative;
      cursor: pointer;
      padding: 15px; }
    circle-calendar div.header i.ion-chevron-left {
      text-align: left; }
    circle-calendar div.header i.ion-chevron-right {
      text-align: right; }
    circle-calendar div.header span {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      color: inherit; }
  circle-calendar div.calendar-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; }
    circle-calendar div.calendar-view div.week {
      display: flex;
      flex-grow: 1;
      border-top: 1px solid #886aea; }
      circle-calendar div.calendar-view div.week span.day {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14.28571%;
        border-left: 1px solid #886aea;
        font-size: 0.75em;
        text-align: center;
        background-color: white;
        cursor: white;
        color: black; }
      circle-calendar div.calendar-view div.week .today {
        background-color: #beadf3 !important; }
      circle-calendar div.calendar-view div.week .selected {
        background-color: #9a80ed !important;
        color: white !important; }
      circle-calendar div.calendar-view div.week .different-month {
        color: #bfbfbf !important; }
    circle-calendar div.calendar-view div.week.names .day {
      color: #886aea; }

.time-view-container {
  display: flex;
  min-height: 100vh; }
  .time-view-container .time-tab .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; }
  .time-view-container .time-tab .hour {
    height: 50px;
    text-align: right; }
  .time-view-container .time-tab.time-info-tab {
    flex: 1; }
  .time-view-container .time-tab.time-date {
    flex: 10; }
    .time-view-container .time-tab.time-date .hour {
      background-color: lightgrey; }

.event-item {
  padding: 2%; }
  .event-item a {
    text-decoration: none !important; }

#event-time .title {
  color: #886aea; }
#event-time .item-input {
  padding-left: 0; }

#event-description {
  display: flex; }
  #event-description .description {
    flex: 2; }
  #event-description .status {
    flex: 1; }

/*# sourceMappingURL=style.css.map */
