<ion-view view-title="Add Requried" style="top:44px;">
  <ion-content class="padding" >
      <div class="require">
          <h3 class="registration-text">Please Enter your Email and Phone number</h3>
          <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="newUser.email">
          </label>
          <label class="item item-input">
             <input type="tel" placeholder="Phone number" ng-model="newUser.phoneNumber">
          </label>
          <button class="button button-block button-royal" ng-click="goPassword()">NEXT</button>
      </div>
  </ion-content>
</ion-view>
