<ion-view view-title="Add Password" style="top:44px;">
  <ion-content class="padding" >
      <div class="password">
          <h3 class="registration-text">Please Enter your Password</h3>
          <label class="item item-input">
            <input type="password" placeholder="New Password" ng-model="newUser.password">
          </label>
          <label class="item item-input">
             <input type="password" placeholder="Confirm Password">
          </label>
          <button class="button button-block button-royal" ng-click="goOptional()">NEXT</button>
      </div>
  </ion-content>
</ion-view>
