<ion-view view-title="Add Optional" style="top:44px;">
  <ion-content class="padding" >
      <div class="optional">
          <div class="registration-text">
            <p>Please Enter your detail (Optional)</p>
          </div>
          <label class="item item-input input-bar">
            <input type="text" placeholder="Name" ng-model="newUser.name">
          </label>
          <label class="item item-input input-bar">
            <input type="number" placeholder="Age" ng-model="newUser.age">
          </label>
          <label class="item item-input item-select input-bar" ng-model="newUser.gender">
            <div class="input-label">Gender</div>
            <select>
              <option>Male</option>
              <option selected>Female</option>
            </select>
          </label>
          <button class="button button-block button-royal" ng-click="goImportFriend()">NEXT</button>
      </div>
  </ion-content>
</ion-view>
