<ion-view view-title="Add Optional" style="top:44px;">
  <ion-content class="padding" >
      <div class="optional">
          <h3 class="registration-text">Please Enter your detail (Optional)</h3>
          <label class="item item-input">
            <input type="text" placeholder="Name">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">Gender</div>
            <select>
              <option>Male</option>
              <option selected>Female</option>
            </select>
          </label>
          <button class="button button-block button-royal" ng-click="goImportFriend()">NEXT</button>
      </div>
  </ion-content>
</ion-view>
