<ion-view view-title="Add Password" style="top:44px;">
  <ion-content class="padding" >
      <div class="password" ng-controller="PasswordCtrl">
          <div class="registration-text" >
            <p>Please Enter your Password</p>
          </div>
          <form name="userForm">
            <div ng-messages="userForm.newPassword.$error" style="color:maroon" role="alert" ng-if="userForm.newPassword.$dirty">
              <div ng-message="required">Required</div>
            </div>
            <label class="item item-input input-bar">
              <input type="password" placeholder="New Password" ng-model="newUser.password" name="newPassword" required>
            </label>
            <div ng-messages="userForm.confirmPassword.$error" style="color:maroon" role="alert" ng-if="userForm.confirmPassword.$dirty">
              <div ng-message="required">Required</div>
              <div ng-message="compareTo">Password does not match</div>
            </div>
            <label class="item item-input input-bar">
               <input type="password" placeholder="Confirm Password" ng-model="temp.checkPassword" name="confirmPassword" required compare-to="newUser.password">
            </label>
            <button class="button button-block button-royal" ng-click="goOptional()">NEXT</button>
         </form>
      </div>
  </ion-content>
</ion-view>
